@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Placed Successfully!</h1>
        Your Order Number is : @Model <br /> <br />
        <img src="~/images/products/3ae2675c-a7ae-4536-8d6f-b063e6dc062a.png" width="65%"/>
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Your order has been places Succesfully! <br />
    </div>
</div>